.profileLayout {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
        'head head'
        'navi mainContent'
        'footer footer'
    ;
    .header {
        grid-area: head;
    }

    .nav {
        grid-area: navi;
    }

    .content {
        grid-area: mainContent;
    }

    .footer {
        grid-area: footer;
    }
}