<div class="search-container">
    <mat-form-field appearance="fill">
      <mat-label>Suche nach Aktien</mat-label>
      <input type="text" matInput [matAutocomplete]="auto" #searchInput (keyup.enter)="onSearch(searchInput.value)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let stock of stocks" [value]="stock.name" (onSelectionChange)="goToStockPage(stock)">
            {{ stock.name }} - {{ stock.exchangeShortName }}
        </mat-option>
      </mat-autocomplete>
      <button mat-icon-button matSuffix (click)="onSearch(searchInput.value)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
